# Created by .ignore support plugin (hsz.mobi)
app/build/*
build/*
.idea/libraries
app/build

local.properties

*.iml
*.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
